.element__img {
  display: block;
  background-color: #000000;
  width: 100%;
  border-radius: 10px 10px 0 0;
  height: 282px;
  object-fit: cover;
}

.element__img:hover {
  cursor: pointer;
}
.element__img[alt] {
  color: #ffffff;
}
