.profile__img-wrapper {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
}

.profile__img-wrapper:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('../../../images/changeAvatar.svg') no-repeat center center;
  cursor: pointer;
  opacity: 0;
  z-index: 1;
  transition: opacity 0.3s ease;
}

.profile__img-wrapper:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 0.3s linear;
}

.profile__img-wrapper:hover:before,
.profile__img-wrapper:hover:after {
  opacity: 1;
}
