.popup__btn_disabled {
  border: 1px solid #000000;
  background-color: transparent;
  color: #000000;
  opacity: 0.2;
  pointer-events: none;
}

.popup__btn_disabled:hover {
  opacity: 0.2;
  cursor: default;
}
