.auth__title {
  margin: 0;
  margin-bottom: 45px;
  color: #fff;
  font-size: 24px;
  font-weight: 900;
}

@media screen and (max-width: 600px) {
  .auth__title {
    /* margin-right: 5px; */
    margin-bottom: 34px;
    font-size: 20px;
  }
}
