.auth__input {
  background-color: inherit;
  padding: 7px 0 7px;
  border: none;
  border-bottom: 2px solid #ffffff;
  width: 100%;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.auth__input::placeholder {
  color: #cccccc;
  font-size: 14px;
  font-weight: 400;
}

.auth__input:focus {
  outline: none;
}
