.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  padding-top: 45px;
}

@media screen and (max-width: 984px) {
  .header {
    padding: 27px 29px 30px 31px;
  }
}

@media screen and (max-width: 600px) {
  .header {
    padding-bottom: 30px;
  }
}
